.amountSelector {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  justify-content: center;
}

.amountSelector > p {
  line-height: 1;
  min-width: 25px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.amountSelector > p:nth-child(1) {
  font-size: 36px;
  color: #9d9ea0;
}

.amountSelector > p:nth-child(2) {
  font-size: 48px;
  color: #4c5263;
}

.amountSelector > p:nth-child(3) {
  font-size: 64px;
}

.amountSelector > p:nth-child(4) {
  font-size: 48px;
  color: #4c5263;
}
.amountSelector > p:nth-child(5) {
  font-size: 36px;
  color: #9d9ea0;
}
