.buy {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.buy > .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.buy > .top > .showcase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.buy > .top > .showcase > p {
  font-size: 30px;
  font-weight: 500;
  color: var(--light);
}

.buy > .top > p {
  font-size: 30px;
  position: absolute;
  bottom: -20px;
  font-weight: 500;
  color: var(--light);
}

.buy > .top > .showcase > img {
  height: 28vh;
}

.buy > .bottom {
  background-color: var(--light);
  flex-direction: column;
  display: flex;
  flex: 1;
  border-radius: 30px;
  margin-top: 20px;
  padding: 1.5em;
}

.buy > .bottom > .priceTitle {
  font-size: 12px;
  line-height: 0.5;
}

.buy > .bottom > .price {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
}

.buy > .bottom > .description {
  font-size: 11px;
}

.buy > .bottom > .amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0.5em;
}

.buy > .bottom > .amount > .amountTitle {
  font-size: 14px;
  width: 100%;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.buy > .bottom > .total {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.buy > .bottom > .total > span {
  font-weight: 700;
}

.buy > .bottom > button {
  min-width: 300px;
  margin: 0 auto;
  height: 40px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
