.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field > p {
    font-size: 14px;
    font-weight: 600;
    color: var(--light);
}

.field > input {
    padding: 12px 10px;
    border-radius: 10px;
    font-size: 14px;
}