.header {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
}

.header > h4 {
    font-size: 13px;
    font-weight: 400;
    color: var(--light);
    line-height: 0.5;
}

.header > p {
    font-size: 16px;
    font-weight: 500;
    color: var(--light);
}