.home > body {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
}

.home > .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  height: 325px;
  position: relative;
  border-radius: 0 0 40px 40px;
}

.home > .top > h1 {
  font-family: "Tinos", serif;
  color: var(--light);
  margin-top: 60px;
}

.home > .top > img {
  position: absolute;
  bottom: -50px;
}

.home > .bottom {
  padding-top: 80px;
}

.home > .bottom > h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.home > .bottom > p {
  font-size: 14px;
  font-weight: 300;
  padding: 1em 3em;
  text-align: center;
}

.home > .bottom > .interact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.home > .bottom > .interact > p {
  font-size: 15px;
}

.home > .bottom > .interact > p > span {
  color: var(--primary);
  font-weight: 600;
}
