.navbar {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    clear: both;
    position: relative;
    height: 55px;
    margin-top: -55px;
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 0;
}

.navbar > .button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar > .button > p {
    text-align: center;
    color: var(--primary);
    font-size: 12px;
}