.pay {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--light);
  border-radius: 30px 30px 0 0;
  margin-top: 15px;
  padding: 1.5em;
}

.pay > .amountTitle {
    font-size: 16px;
    font-weight: 550;
}

.pay > .amount {
    font-size: 40px;
    font-weight: 600;
}

.pay > .description {
    font-size: 12px;
    text-align: center;
}

.pay > .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    margin-bottom: 1em;
}

.pay > .info > .title {
    font-size: 18px;
    font-weight: 600;
}

.pay > .info > .value {
    font-size: 16px;
    font-weight: 400;
}

.pay > .important {
    text-align: center;
    font-size: 13px;
    color: var(--shade);
    margin: 1em 0;
}

.pay > .important > span {
    color: var(--primary);
    font-weight: 500;
}

.pay > button {
    min-width: 300px;
    margin: 0 auto;
}

.pay > .cancel {
    font-size: 12px;
    text-align: center;
    margin: 1em 0;
    color: var(--shade);
}

.pay > .cancel > span {
    color: var(--primary);
    font-weight: 500;
}