.redeemItem {
  display: flex;
  background-color: var(--primary);
  border-radius: 10px;
  height: 100px;
  padding: 0 0.5em;
  gap: 10px;
  margin-top: 15px;
}

.redeemItem > img {
  height: 80px;
  width: 80px;
  object-fit: contain;
  margin: auto 0;
  background-color: var(--light);
  border-radius: 5px;
}

.redeemItem > .info {
  padding: 0.5em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.redeemItem > .info > p {
  font-size: 13px;
  font-weight: 500;
  color: var(--light);
}

.redeemItem > .info > button {
  background-color: var(--light);
  min-height: 20px;
  height: 20px;
  max-height: 20px;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  bottom: 12px;
  right: 1px;
}
