.redeem {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.redeem > .top  {
    display: flex;
    flex-direction: column;
    padding: 1.25em;
}

.redeem > .top > p {
    font-size: 13px;
    color: var(--light);
    line-height: 1;
    margin-bottom: 10px;
}

.redeem > .top > .inputRedeem {
    display: flex;
    height: 30px;
    align-items: center;
    gap: 5px;
}

.redeem > .top > .inputRedeem > input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 0 0.75em;
}

.redeem > .top > .inputRedeem > button {
    height: 10px;
    border: solid var(--light) 2.5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    font-size: 12px;
    font-weight: 600;
    padding: 1.1em 1.4em;
}

.redeem > .bottom {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 30px 30px 0 0;
    padding: 1.25em;
}

.redeem > .bottom > .title {
    font-size: 12px;
    font-weight: 600;
}

.redeem > .bottom > .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.redeem > .bottom > .container > .notFoundImg {
    width: 125px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.redeem > .bottom > .container > .notFound {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.redeem > .bottom > .container > .notFound > span {
    color: var(--primary);
    font-weight: 700;
}