.signInUp > body {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
}

.signInUp > .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  border-radius: 0 0 30px 30px;
  height: fit-content;
  padding-bottom: 30px;
}

.signInUp > .top > .fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 20px;
  margin-top:30px;
}

.signInUp > .top > h1 {
  color: var(--light);
  margin-top: 35px;
  font-family: "Tinos", serif;
}

.signInUp > .top > p {
  color: var(--light);
  font-size: 14px;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  font-weight: 350;
}

.signInUp > .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.signInUp > .bottom > p > span {
    color: var(--primary);
    font-weight: 600;
}

.signInUp > .top > .popup {
  background-color: var(--light);
  border-radius: 10px;
  color: var(--primary);
  padding: 1em;
}