@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  border: none;
  padding: 0;
  outline: none;
}

* {
  margin: 0;
  border: none;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #CE7C2A;
  --light: #FFFFFF;
  --shade: #4C5263;
  --dark: #000000;
}

button {
  background-color: var(--primary);
  color: var(--light);
  padding: 15px;
  min-width: 150px;
  border-radius: 10px;
  max-width: fit-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}